[Desktop Entry]
Encoding=UTF-8
Name=Link to Download .icns
Type=Link
URL=https://anyconv.com/api/action/download/e08e832a0595bc964cd1e48995e47292/?name=icon.icns
Icon=text-html
